* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#about-me-button {
    background-color: #162022;
    color: #cbcad0;
    padding: 2vh;
    border: none;
}

#about-me-header {
	padding: 2vh;
}

/* #about-me-main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2vh;	
} */

.container {
	margin: 0 auto;
	width: 100vw;
}

.dropbtn img {
	width: 2vw;;
}

.dropdown {
  overflow: hidden;

}

.dropdown-content ul li {
    list-style-type: none;
}

.dropdown .dropbtn {
  border: none;
  background-color: transparent;

}

.dropdown:hover .dropbtn {
  opacity: 0.5;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  z-index: 1;
  padding-top: 1vh;
}

.dropdown-content a {
  text-decoration: none;
  color: #162022;
  font-size: 3vh;
  font-family: 'Crimson Text', 'Source Serif Pro', serif;

}

.dropdown-content a:hover {
  background-color: none;
  color: #cbcad0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.intro h1 {
    font-size: 8vh;
}

.intro h2 {
    font-size: 4.4vh;
}

.intro {
	text-align: center;
	
	/* border: 1px solid black; */
	margin-top: 25vh;
	color: #162022;
}

#headshot {
	width: 200px;
	height: 192px;
}

.intro button {
	margin-top: 2vh;
}

#main-header {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: center center;
	width: 100vw;
	height: 100vh;
}


#modal-box {
	width: 75vw;
	height: 50vh;
	border-radius: 5px;
	background: #cbcad0;
	color: #162022;
}

#modal-box header {
	display: flex;
	justify-content: space-between;
}

#modal-box main {
	padding: 2vh;
	display: flex;
	/* display: grid;
	grid-template-columns: 25% 75%; */
}

#modal-mask {
	display: none;
	/* display: flex; */
	position: fixed;
  	width: 100vw;
 	height: 100vh;
  	background: rgba(0, 0, 0, 0.7);
  	top: 0;
  	left: 0;
  	justify-content: center;
  	align-items: center;

}

#modal-mask.open {
	display: flex;
}

.mySlides {
	display: none;
}

.mySlides.show {
	display: block;
}

.mySlides img{
	width: 800px;
	/* justify-content: center; */
}

.mySlides p {
	/* text-align: center; */
	width: 800px;
}

.nav-buttons {
	padding-right: .5vw;
}

.nav-buttons img {
    width: 2vw;
}
.navigation {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding-top: 2vh;
	padding-right: 12vh;


}

.next, .prev {
	font-size: 4rem;
}


.show {
	display:block;
}

.slideshow-container {
	background-color: #162022;
	color: #cbcad0;
	display: flex;
	/* display: grid; */
	/* grid-template-columns: 10px 800px 10px;
	grid-template-rows: 400px 200px; */
	justify-content: center;
	align-items: center;
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin: auto;
	width: 900px;
	margin-top: 10vh;

}

@media screen and (max-width: 600px) {
    h1 {
		/* color: red; */
		font-size: 1rem;
	}

	.intro {
		/* color: red; */
		width: 300px;
		justify-content: center;
	}
}