* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#headshot {
	width: 250px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 5vh;
	/*padding-top: 10vh;*/
}

#about-me {
	text-align: center;
	margin-left: none;
	margin-right: none;
	background-color: #7FBF3F;
	height: 100vh;
	padding-left: 20vw;
	padding-right: 20vw;
}

.about-me ul li {
	list-style-type: none
	/*	border-color: black;
	border-style: solid;
    border-width: 1px;*/
    /*margin-top: 10vh;*/
}

.about-me > ul > li {
	padding-top: 5vh;
	/*margin-top: 10vh;*/
}

.about-me-contact img {
	float: left;
	width: 5vw;
	margin-top: 1vh;
	margin-left: 10vw;
	/*margin-right: auto;*/
	display: block;
}

figure {
	margin: none;
	position: relative;
}

figure img {
	width: 100%;
}

footer {
	text-align: center;
}

.clearfix::after {
	clear: both;
	content: '';
	display: block;
}

.container {
	margin: 0 auto;
	width: 1000px;
}

h1 {
	font-size: 10vh;
}

header {
	position: absolute;
	width: 100%;
	z-index: 1;
}

/*header nav {
	float: right;
	padding-left: 1rem;
	padding-top: 1rem;
}	*/

header nav ul li {
	list-style-type: none
}

header img {
	width: 2vw;
	/*float: left;
	margin-top: 5vh;
	margin-left: 80vw;*/
}

.intro {
	float: left;
	margin-top: 20vh;
	margin-left: 10vw;
}

.nav-buttons {
	float: left;
	margin-top: 2rem;
	margin-left: 80rem;

}

#projects img {
	width: 10vw;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.projects {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 100%;
	margin-top: none;
	margin-left: auto;
	margin-right: auto;
	background-color: #93D1D1;
	height: 100vh;
	padding-top: 30vh;
	padding-left: 20vw;
	padding-right: 20vw;
}

