.about-me a {
	text-decoration: none;	
	color: black;
}

.about-me a:hover {
	color: white;	
}

#about-me-title {
	width: 50vw;
	padding-left: 9vw;
	padding-top: 7vh;
	font-size: 5vh;
}

body {
	font-family: 'Source Sans Pro', 'Encode Sans Semi Expanded', sans-serif;
	background-color: #7FBF3F;
}

.dropdown {
  	float: right;
 	overflow: hidden;
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 1vw;
}

.dropdown .dropbtn {
	font-size: 1.5rem;
	color: #F2F1F1;
	font-weight: bold;
	border: none;
	outline: none;
	background-color: transparent;
	padding: .5rem, .5rem; 
	font-family: 'Song Myung', 'Markazi Text', serif;
}

.dropdown:hover .dropbtn {
	background-color: #7FBF3F;

}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: none;
	z-index: 1;
}

.dropdown-content a {
	text-decoration: none;
	color: #F2F1F1;
	font-size: 1rem;
	font-family: 'Song Myung', 'Markazi Text', serif;

}

.dropdown-content a:hover {
	background-color: none;
	color: #7FBF3F;
}

.dropdown:hover .dropdown-content {
	display: block;
}

footer {
	background-color: #7FBF3F;
}

h1 {
	color: #F2F1F1;
	font-family: 'Crimson Text', 'Source Serif Pro', serif;
	font-size: 15vh;
}

h2 {
	color: #F2F1F1;
	font-family: 'Crimson Text', 'Source Serif Pro', serif;
	font-size: 5.8vh;	

}

h3 {
	text-align: center;
    float: left;
    position: absolute;
	width: 100%;
	z-index: 1;
}

.projects article ul li {
	list-style-type: none

}

.projects article > ul > li {
	text-align: center;
	padding-top: 1rem;
}

#projects-title {
	padding-top: 20vh;
	font-size: 5vh;
}

.show {display:block;}

#skills {
	font-style: italic;
}