#about-me-button {
    background-color: #162022;
    color: #cbcad0;
    padding: 2vh;
    border: none;
}

.dropdown-content ul li {
    list-style-type: none;
}

.nav-buttons img {
    width: 2vw;
}

h1 {
    font-size: 8vh;
}

h2 {
    font-size: 4.4vh;
}